/*.d-flex {
    /*border: 2px solid red;*/
    /*font-family: 'Indie Flower', cursive;*/
/*}*/
html
.main-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid black;
  height: 800px;
}

.item1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid red;
}
.left-top{
 flex: 1;
 border: 1px solid red;
}
.left-bottom{
  flex: 1;
  border: 1px solid red;
}
.item2{
  display: flex;
  flex-direction: column;
  flex: 2;


}

.letter img {
    max-width: 100%; 
    height: auto; 
    border-radius: 9px;
  }

.letter img:hover {
    filter: brightness(70%);
    background-color: transparent;
    cursor: pointer;
}

  .keyboard-container1 {
    width: 50%;
    height: 50%;
  }

  .keyboard-container2 {
    width: 30%;
    height: 30%;
  }


