/*{
    border: 1px solid red;
}*/
  html, body{
    font-family: 'Indie Flower', cursive;
    height: 800px;
    
  }
 
  #usernameBtn {
    border-radius: 10px;
    color: white;
    background-color: #CA670F;
    border-color: antiquewhite;
    
  }
  
  .main-container{
    font-family: 'Indie Flower', cursive;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
  }
  .stats-title {
    border-bottom: 2px solid black;
    border-radius: 10px;
    flex-basis: 17%;
    background-color: rgba(141, 173, 198, 0.5);
    position: relative;
  }

  .stats {
    flex: 1;
    position: relative;
   
  }

  .lead {
    font-size: 2rem;
  }
  

  .stats-container {
    
    display: flex;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 10px;
    background-color: rgba(174, 211, 240, 0.5);
    position: fixed;
    top: 1%;
    left: 1%;
    width: 30%;
    height: 40%;
  }
  .item1 {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .left-top{
    display: flex;
    justify-content: center;
   flex: 1;
  }
  .left-bottom{
    flex: 1;
  }
  .item2{
    display: flex;
    flex-direction: column;
    flex: 2;
  }
  .right-top{
    justify-content: center;
    display: flex;
    flex: 1;
  }

  .rt-text {
    display: flex;
    align-self: center;
    font-size:  5rem;
    color: #CA670F;
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 30px;
  }
  .right-mid{
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .mid-top{
    justify-content: center;
    display: flex;
    flex:2;
  }
  .p2-text{
    display: flex;
    align-self: center;
    font-size:  4rem;
    color: #000;
    text-decoration: underline;
    
  }
  .p2-text:hover{
    color: #CA670F;
    cursor: pointer;
    
  }
  .mid-bottom{
    justify-content: center;
    display: flex;
    flex: 2;
    
  }
  .p1-text{
    display: flex;
    font-size:  4rem;
    color: #000;
    text-decoration: underline;
    
  }
  .p1-text:hover{
    color: #CA670F;
    cursor: pointer;
  }
  
  .right-bottom{
  flex: 1;
  
  }

  /* Player icons */

  .single-icon{
    width: 100px;
    height: 100px;
  }
  .double-icon{
    width: 100px;
    height: 100px;
  }



  /* Hangman Section */

.left-bottom{
    background-image:url(images/blackboard.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 15px;
    margin-bottom: 10px;
    padding: 15px;
    
    
    width: 90%;

}
 
  /* #line1, #line2, #line3, #line4, #head, #line5, #line6, #line7, #line8*/ 
  .draw-line {
    stroke: white;
    stroke-width: 4;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: drawLine 1s forwards;
  }
  
  @keyframes drawLine {
    from {
      stroke-dashoffset: 100%;
    }
    to {
      stroke-dashoffset: 0;
    }
  }