/*.d-flex {
    /*border: 2px solid red;*/
    /*font-family: 'Indie Flower', cursive;*/
/*}*/
html
.main-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 800px;
}

* {
  font-family: 'Indie Flower';
}

.item1 {
  display: flex;
  flex-direction: column;
  flex-basis: 35%;
}
.left-top{
 flex-basis: 33%;
}
.left-bottom{
  flex: 1;
}

.item2{
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-right: 20px;
}

.right-top {
  flex-basis: 16%;
  color:#ca660f;
  border-bottom: 3px solid #feb947;
  border-right:3px solid #feb947;
  border-radius: 15px;
  background-color: #fcf0de;
  text-align: center;
}

.right-mid {
  flex-basis: 20%;
}

.right-bottom {
  flex: 1;
}

.letter img, .input-square img {
    max-width: 100%; 
    height: auto; 
    border-radius: 9px;
 }

.input-square img {
  margin: 5px;
}

.letter img:hover {
    filter: brightness(70%);
    background-color: transparent;
    cursor: pointer;
    transform: scale(1.05);
}

.input-container {
  width: 65%;
} 

#question {
  width: 100%;
  text-align: center;
  border-bottom: 3px solid #feb947;
  border-right:3px solid #feb947;
  border-radius: 15px;
  background-color: #fcf0de;
}

.keyboard-container1 {
    width: 85%;
  }

.keyboard-container2 {
    width: 50%;
  }
 
  .draw-line {
    stroke: white;
    stroke-width: 4;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: drawLine 1s forwards;
  }

  .invisible-line {
    stroke: none;
  }
  
  @keyframes drawLine {
    from {
      stroke-dashoffset: 100%;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

  .stats-title {
    border-bottom: 2px solid black;
    border-radius: 10px;
    /*flex-basis: 17%;*/
    background-color: rgba(141, 173, 198, 0.5);
    /*position: relative;*/
  }

  .stats {
    height: 70%;
  }

  #lives, #time, #won, #bestTime {
    flex: 1;
  }

  .lead {
    font-size: 2rem;
  }

  .stats-container {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 10px;
    background-color: rgba(174, 211, 240, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 33%;
    height: 30%;
  }

  .icon img {
    max-width: 100%; 
    height: auto; 
  }

  .category {
    flex-basis: 21%;
  }
  
  .icon img:hover {
    filter: brightness(20) invert(0) sepia(2) saturate(0%);
    transform: scale(1.1);
    transition: filter 0.1s;
    cursor: pointer;
  }

  #question {
    color: #ca660f;
    font-size: 2.5rem;
  }

  .right {
    width: 90%;
  }

  #hangman-container {
    background-image: url(./images/blackboard.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 5px;
    margin-bottom: 10px;
    padding: 20px 20px 40px 40px;
    border-radius: 10px;
    width: 100%;
  }

  .white {
    color: white;
  }

  #timer-yes, #timer-no {
    border: 2px solid white;
    border-radius: 10px;
  }

  #timer-yes:hover, #timer-no:hover {
    background-color: #1d5d36;
    transform: scale(1.05);
  }

  #timer-yes:active, #timer-no:active  {
    background-color: #1d5d36;
  }

  #timer-yes.active, #timer-no.active {
    background-color: #1d5d36;
  }

  .talk-bubble {
    position: fixed;
    top: 25%;
    left: 23%;
    width: 40%;
    height: 40%;
    font-size: 3.5rem;
    z-index: 1;
    background-image: url(./images/talk_bubble.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
    display: inline-block;
    visibility: hidden;
  }

  .game-over {
    color: red;
    font-size: 1.5;
    width: 60%;
    z-index: 2;
    position: absolute;
    top: 10%;
    left: 7%;
  }

  .green {
    color: green;
  }
  
  .try-again {
    background-color: #b6edb6;
    border: 2px solid green;
    color: green;
    position: fixed;
    z-index: 1;
    border-radius: 30px;
    padding: 15px;
    font-size: 1.5rem;
    top: 58%;
    left: 32%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    visibility: hidden;
  }

  .try-again:hover {
    background-color:#8db78d; 
    transform: scale(1.1);
  }

  .display {
    visibility: visible;
  }

  

 



  
  

 





